@page "/products"
@using BlazorShop.Models
@using BlazorShop.Services

@inject ProductService Catalog

<h3>Список товаров</h3>

@foreach (var product in Catalog.GetProducts())
{
	<p>
		@product.Id: Наименование: "@product.Name"   Цена: @product.Price руб.
	</p>
}
