@page "/add_product" 
@using BlazorShop.Models
@inject Catalog Catalog

<h3>Добавление товара</h3> 

<EditForm Model="_newProduct" OnValidSubmit="AddProduct">    
    <DataAnnotationsValidator />
	
    <InputText @bind-Value="_newProduct.Name" />
    <InputNumber @bind-Value="_newProduct.Price" /> 

    <button type="submit" class="btn btn-primary">Добавить товар</button>
    <ValidationSummary /> 
</EditForm>

@code {
    private Product _newProduct = new Product(); // Создание экземпляра класса Product для нового товара

    public void AddProduct() // Метод для добавления товара
    {
        Catalog.AddProduct(_newProduct); // Использование метода AddProduct из класса Catalog для добавления нового товара
        _newProduct = new Product(); // Очищаем форму после добавления товара путем создания нового экземпляра продукта
    }
}

