@page "/timeviewer"

@using BlazorShop.Data
@inject NowTime Time

<h3>TimeViewer</h3>

<p>Вывод времени с помощью абстракции IClock:</p>


<p>вывод времени: @Time.GetTime()</p>
@code {
	// следующий блок позволяет обновляться времени в реальном времени
	private PeriodicTimer _timer;

	protected override async void OnInitialized()
	{
		base.OnInitialized();		
		_ = RunDateTimeLiveUpdates();
	}

	async Task RunDateTimeLiveUpdates()
	{
		_timer = new PeriodicTimer(TimeSpan.FromSeconds(1));
		while (await _timer.WaitForNextTickAsync())
		{
			
			StateHasChanged();
		}
	}
	public void Dispose()
	{
		_timer?.Dispose();
	}
	// следующий блок позволяет обновляться времени в реальном времени
}